
/* body{
    background-color: lightgrey;
    font-family: sans-serif;
  } */
  
  .container{
    margin: auto;
    width: 650px;
    padding: 50px;
  }
  
  ul, li {
      padding: 0px;
      margin: 0;
      list-style: none;
  }
  
  ul.slider{
    position: relative;
    width: 800px;
    height: 300px;
  }
  
  ul.slider li {
      position: absolute;
      left: 0px;
      top: 0px;
      opacity: 0;
      width: inherit;
      height: inherit;
      transition: opacity .5s;
      /* background:#fff; */
  }
  
  ul.slider li img{
    width: 80%;
    height: 300px;
    object-fit: cover;
  }
  
  ul.slider li:first-child {
      opacity: 1; /*Mostramos el primer <li>*/
  }
  
  ul.slider li:target {
      opacity: 1; /*Mostramos el <li> del enlace que pulsemos*/
  }
  
  .menu{
    text-align: center;
    margin: 5px;
  }
  
  .menu li{
    display: inline-block;
    text-align: center;
  }
  
  .menu li a{
    display: inline-block;
    /* color: white; */
    text-decoration: none;
    background-color: grey;
    padding: 8px;
    width: 2px;
    height: 2px;
    font-size: 20px;
    border-radius: 100%;
  }