
.textocentro{
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-left: 36%; */
    font-family: 'Roboto Slab';
    font-size: 26px;
    font-weight: 500;
    color: #505253;
    text-justify: auto;
}

.parrafo {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: #313438;
    font-size: 17px;
    font-family: 'Roboto Slab';
    text-align:center;

}