
.video1 h2{

    font-family: 'Roboto Slab';
    color: rgb(71, 130, 238);
    
    justify-content: center;
    text-align: center;
}

.video1{

    justify-content: center;
    text-align: center;
}